body {
  font-family: Cabin, sans-serif;
}

h1 {
  font-size: 2em;
}

.navbar {
  background-color: #41B6AD;
  padding-left: 1em;
  padding-right: 1em;
}

.navbar-brand {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.navbar-brand img {
  width: 50px;
}

.navbar a, .navbar-brand {
  color: white;
}

.navbar a:hover {
  background-color: #9CE7E2;
  color: #887E75;
}

.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before {
  width: 30px;
  height: 3px;
  border-radius: 0;
  background-color: white;
}

.navbar-burger:hover {
  background-color: transparent;
}

.accordion {
  display: flex;
  justify-content: flex-end;
  padding-left: 1em;
  padding-right: 1em;
  background-color: #41B6AD;
  display: none;
}

.accordion a {
  padding: 0.5rem 1rem;
  color: white;
}

.accordion a:hover {
  background-color: #9CE7E2;
  color: #887E75;
}