*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Alegreya Sans', sans-serif;
}

#loader {
  width: 100vw;
  height: 100vh;
  background-color: #41B6AD;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: colorchange 2s;
  -webkit-animation: colorchange 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  z-index: 9999;
}

#logo-loader {
  width: 80vw;
  max-width: 600px;
  filter: drop-shadow(1px 2px 3px white);
}

@keyframes colorchange {
  from {background-color: #EEBC63;}
  to {background-color: #887E75;}
}

@-webkit-keyframes colorchange {
  from {background-color: #EEBC63;}
  to {background-color: #887E75;}
}

/*
* Container Login Modal... Snippet by Ashbo in bootsnipp.com
*/
.modal-content {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: 'Alegreya Sans', sans-serif;
}

#logologinmod {
	width: 100%;
  align-self: center;
}

.modal-content h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: 'Alegreya Sans', sans-serif;
}

.modal-content input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.modal-content input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.modal-content input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	
}

.loginmodal-submit {
  width: 100%;
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #41B6AD;
  padding: 17px 0px;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 14px;
}

.loginmodal-submit:focus {
  outline: none;
}

.loginmodal-submit:hover {
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #EF6149;
}

.modal-content a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

.login-help {
  font-size: 12px;
  margin-top: .5em;
}

#login-modal input:focus {
  outline: none;
  border: 2px solid #41B6AD;
}

/*
* Modal de Registro
*/

.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
  flex-direction: column;
}

.modal-header, .modal-body, .modal-footer {
  padding: 0px;
}

#logoregmod {
  width: 100%;
}

#regismodal h5 {
  font-size: 1.8em;
  text-align: center;
  margin-bottom: .5em;
}

#regismodal input {
  height: 44px;
  font-size: 16px;
  width: 100%;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  padding: 0 8px;
  border-radius: 2px;
}

#regismodal input:focus {
  outline: none;
  border: 2px solid #41B6AD;
}

#reg-save {
  width: 100%;
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #41B6AD;
  padding: 17px 0px;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 14px;
  margin-bottom: ;
}

#reg-save:focus {
  outline: none;
}

#reg-save:hover {
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #EF6149;
}

/*
* FIN Modal de Registro
*/



/*
* Container One
*/
#one {
	height: 100vh;
	width: 100%;
	margin:0;
	background-image: url(../img/typewriter-801921_1920.jpg);
	background-size: cover;
	background-repeat: no-repeat;
  display: none;
  overflow: hidden;
}

#mainlogo {
  width: 80vw;
  max-width: 600px;
}

#main-isotype {
  display: none;
}
/*
* Row superior que contiene el botón de log in
*/
#top {
	text-align: right;
}

#login-btn {
  color: #897E75;
  border: 3px solid #897E75;
  border-radius:5%;
  background-color: #e1e2c3;
  font-weight: 800;
  margin-top: 15vh;
}

#login-btn:hover {
	background-color:#D5D0CB;
	cursor: pointer;

}

#login-btn a {
	color:#897E75;
}

#container-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15vh;
}


/*Row del LOGO*/

#caja-logo {
	text-align:center;
}

#main-reg-box input {
	margin-top: 5vh;
	border-radius: 5%;
	border-style:none;
	height:5vh;
	width:100%;
  padding: 0 8px;
}

#main-reg-box input:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

#main-reg-box input:focus {
  outline: none;
  border: 2px solid #41B6AD;
}

#reg-btn {
  height:6vh;
  width:100%;
	background-color: #41B6AD;
	margin-top:2vh;
	border-radius:5%;
	border-style: none;
  color: #f7f7f7;
  font-weight: 800;
  border: 3px solid #41B6AD;
}

#reg-btn:hover {
	border: 3px solid #41B6AD;
	background-color: rgba(255, 255, 255, 0.6);
	cursor: pointer;
	color: #41b6ad;
}

#reg-btn:hover a {
	color: #897E75;       /*nota para mí: así funcionó para que el hover de a funcionara al mismo tiempo que el del botón para cambiar el color!*/
}

#content-btn-reg {
  display: flex;
  justify-content: center;
}

.alert {
  margin-top: 1em;
  text-align: center;
}

/* CSS Para el PROFILE */
/*CONTAINER TWO*/
#two{
  height: 100vh;
  width: 100%;
  margin:0;
  padding:0;
  background-color: #FDFDEE
}
/*CARROUSEL DE IMAGENES */
.carrousel-box{
  height: 35vh;
  width:100%;
}
#img1 h5, #img1 p{
  color:#000;
  font-size: 1.5em;
  font-weight: 700;
}
#img2 h5, #img2 p, #img3 h5, #img3 p{
  font-size: 1.5em;
  font-weight: 700;
} 
/*FIN CARROUSEL DE IMAGENES*/
/*NAVBAR */ 
/*FIN NAVBAR*/
#menu{
  font-weight: 400;
  font-size: 2em;
 }
#menu a{
  color: #41B6AD ;
}
/*CSS PARA OWN TIMELINE (ME)*/
#textarabox{
  height: 20vh;
  width: 80%;
  font-weight: 500;
}
#wannabecomment{
  border-color:  #41B6AD;
  margin-top: 5vh;
}
#comm-btn{
  height: 6vh;
  width: 80%;
  background-color:#41B6AD;
  color: #FBFDE2;
  border-style: none;
  border-radius:5%;
  margin-top: 5vh;
  font-weight: 500;
}
/*Fin de ME space*/
/*Profile Space*/
#profilepic{
  height: 20vh;
  width: 100%;
}
.img-shape{
  height: 20vh;
  width: 20vh;
  border-radius:50%;
  object-fit: cover;
  object-position:center;
}

* FICshare space */
#fic-card-form{
  height: 25vh;
/*  border: 3px solid #41B6AD;*/
  border-radius: 2px;
  padding: 2vh;
  font-size: 1.5em;
} 
#introfic{
  border: 1px solid #91CDD4;
  width:60%;
}
#cardfics-cont{
  margin-top: 5vh;
}

/*FRIENDS BOX*/
#friends-cont{
  margin-top: 5vh;
}
.card{
  border-radius: 5px;
}
#friend-card {
  margin-top:5vh;
}
#friendscard-btn{
  background-color: #41B6AD;
  border-style: none;
  border-radius: 5px;
  padding: 3%;
}
#friendscard-btn a {
  color: #fff;
}
#friendscard-btn:hover{
  padding: 5%;
  cursor: pointer; 
}
.card-title{
  font-size:1.5em;
  
}

@media (max-width: 500px) {
  #mainlogo {
    display: none;
  }
  #main-isotype {
    display: inline-block;
    width: 45vw;
  }
  #container-centered {
    margin-top: 5vh;
  }
}